*.json
*.o
*so
*.make
*.cmake
*.marks
*.a
*.out
*.check_cache
*.log
*.internal
*.includecache
build/hazel/CMakeFiles/hazel.dir/link.txt
build/application/CMakeFiles/application.dir/link.txt
build/application/application
build/CMakeFiles/3.17.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.17.0/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.17.0/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.17.0/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/Makefile2
build/CMakeCache.txt
build/Hazel/CMakeFiles/Hazel.dir/link.txt
build/Hazel/vendor/spdlog/Makefile
build/Hazel/vendor/spdlog/CMakeFiles/spdlog.dir/link.txt
build/CMakeFiles/Progress/1
build/CMakeFiles/Progress/2
build/CMakeFiles/Progress/3
build/CMakeFiles/Progress/4
build/CMakeFiles/Progress/6
build/CMakeFiles/Progress/7
build/CMakeFiles/Progress/8
build/CMakeFiles/Progress/9
build/CMakeFiles/Progress/10
build/CMakeFiles/Progress/11
build/CMakeFiles/Progress/13
build/CMakeFiles/Progress/12
build/CMakeFiles/Progress/count.txt
build/Hazel/vendor/spdlog/libspdlog.so.1
build/Hazel/vendor/spdlog/libspdlog.so.1.6.0
